@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    font-family: "Pretendard Variable", system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    max-width: 768px;
    background-color: white;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.check-icon {
    font-size: 48px;
    margin-bottom: 20px;
    color: #4a90e2;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    color: #888;
    font-size: 12px;
    line-height: 1.4;
    margin-top: 12px;
    text-align: center; /* 텍스트 중앙 정렬 */
}

.main-button {
    width: 100%; /* 양쪽에 패딩을 추가한 효과 */
    height: 48px;
    margin-top: 48px;

    border: none;
    background-color: #4a90e2; /* 파란색 배경 */
    color: white; /* 하얀색 글자 */
    font-size: 14px;

    cursor: pointer;
    border-radius: 8px; /* 위아래 모두 둥근 모양으로 변경 */
    text-align: center;
    text-decoration: none;
}

.main-button:hover {
    background-color: #0056b3; /* hover 시 더 어두운 파란색 */
}